<ion-header>
  <ion-toolbar>
    <ion-title>around-me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let feedItem of feedItems">
    <ion-img [src]="feedItem.image?.base64"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{ feedItem.title }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{ feedItem.text }}</p>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="paginate($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
